
    {{#each photos}}
    <div class="postBox"><a href='/gallery/{{id}}'><img class="imageBox" src="{{link}}" alt=""></a>


    <div class="authorLarge">Author: {{author}}</div>

    <div class="description">{{description}}</div>

    <div class="link">{{link}}</div>

    </div>
    {{/each}}